@charset "UTF-8";
/**
  * No Sass, as variáveis
  * iniciam com $
  */
@font-face {
  font-family: "decorativa";
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: "padrao";
  src: url(../fonts/Lato-Regular.ttf);
}
body {
  margin: 0px;
}

#header {
  background-color: #f7fdff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 1px #dbd9d9;
}
#header * {
  display: inline;
  vertical-align: middle;
}
#header img {
  width: 70px;
  margin-right: 20px;
}
#header h1 {
  font-family: "decorativa";
  color: #0c302e;
  text-shadow: 1px 1px #95a5a6;
}

#formularioItem {
  padding: 10px;
  border-bottom: 1px solid #bebcbc;
  box-shadow: 0px 1px #dbd9d9;
  width: 90%;
  margin: auto;
}
#formularioItem label,
#formularioItem input,
#formularioItem select {
  display: block;
  font-family: "padrao";
}
#formularioItem #quantidade,
#formularioItem #unidadeDeMedida {
  display: inline-block;
}
#formularioItem #unidadeDeMedida {
  font-family: "padrao";
}
#formularioItem select {
  width: 95%;
  max-width: 300px;
}
#formularioItem select:disabled {
  color: gray;
}
#formularioItem select,
#formularioItem input {
  margin-bottom: 10px;
  height: 30px;
  font-size: 100%;
  border-radius: 5px;
  border: 1px solid #0c302e;
  padding-left: 5px;
}
#formularioItem select[type=number],
#formularioItem input[type=number] {
  width: 95%;
  max-width: 80px;
}

#conteudo {
  padding: 10px;
  width: 90%;
  margin: auto;
}
#conteudo #tabelaCompras {
  padding: 10px;
  width: 90%;
}
#conteudo #tabelaCompras table {
  border-collapse: collapse;
  width: 50%;
  font-family: "padrao";
}
#conteudo #tabelaCompras table thead {
  background-color: #f7fdff;
  color: white;
}
#conteudo #tabelaCompras table tr:hover td {
  background-color: #d7f2ec;
}
#conteudo #tabelaCompras table tr:nth-child(even) {
  background-color: #e5e2ec;
}
#conteudo #tabelaCompras table tr td {
  font-size: 90%;
}
#conteudo #tabelaCompras table tr td:first-child {
  width: 10%;
}
#conteudo #tabelaCompras table tr td:last-child {
  width: 10%;
}
#conteudo #tabelaCompras table tr th,
#conteudo #tabelaCompras table tr td {
  text-align: left;
  padding: 5px 0px;
}
#conteudo #tabelaCompras table tr th:first-child,
#conteudo #tabelaCompras table tr td:first-child {
  text-align: left;
  padding-left: 5px;
}
#conteudo #tabelaCompras table tr th:last-child,
#conteudo #tabelaCompras table tr td:last-child {
  text-align: right;
  padding-right: 5px;
}
#conteudo #tabelaCompras table tr th img,
#conteudo #tabelaCompras table tr td img {
  width: 90%;
  margin: 0px;
}
#conteudo #tabelaCompras img {
  margin-left: 40px;
  display: block;
  width: 20%;
}
#conteudo #tabelaCompras span {
  font-family: "padrao";
}
#conteudo #cardsCompras {
  display: none;
}
#conteudo #cardsCompras #cardConteudo {
  display: table;
  box-shadow: 2px 2px 5px #ededee, -1px -1px 3px #ededee;
  border-radius: 5px;
  margin: 0px auto 10px auto;
  width: 90%;
}
#conteudo #cardsCompras #cardConteudo .esquerda,
#conteudo #cardsCompras #cardConteudo .direita {
  width: 15%;
  display: table-cell;
}
#conteudo #cardsCompras #cardConteudo .direita {
  text-align: right;
}
#conteudo #cardsCompras #cardConteudo span {
  vertical-align: middle;
  font-family: "padrao";
  font-size: 150%;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}
#conteudo #cardsCompras a img {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}
#conteudo #filtro {
  margin: 30px 0px 10px 0px;
  display: block;
  border-radius: 20px;
  width: 40%;
  height: 30px;
  border: 1px solid #cccccc;
  outline: none;
  padding: 0px 20px 0px 20px;
  font-size: 90%;
}
#conteudo #filtro:hover {
  border: none;
  box-shadow: 2px 2px 5px #cccccc, -1px -1px 3px #cccccc;
  margin-bottom: 12px;
}

@media only screen and (max-width: 600px) {
  #conteudo #cardsCompras {
    display: block;
  }
  #conteudo #cardsCompras span {
    font-family: "padrao";
  }
  #conteudo #cardsCompras img {
    border: none;
    width: 50%;
    display: block;
    margin: 0px auto;
  }
  #conteudo #tabelaCompras {
    display: none;
  }
  #conteudo #filtro {
    width: 90%;
  }
}

/*# sourceMappingURL=estilos.css.map */
