@import "cores";
@import "fontes";

body {
  margin: 0px;
}

#header {
  background-color: $cor-header;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(211, 211, 211);
  box-shadow: 0px 1px rgb(219, 217, 217);

  * {
    display: inline;
    vertical-align: middle;
  }

  img {
    width: 70px;
    margin-right: 20px;
  }

  h1 {
    font-family: $fonte-decorativa;
    color: $cor-borda;
    text-shadow: 1px 1px #95a5a6;
  }
}

#formularioItem {
  padding: 10px;
  border-bottom: 1px solid rgb(190, 188, 188);
  box-shadow: 0px 1px rgb(219, 217, 217);
  width: 90%;
  margin: auto;

  label,
  input,
  select {
    display: block;
    font-family: $fonte-padrao;
  }

  #quantidade,
  #unidadeDeMedida {
    display: inline-block;
  }

  #unidadeDeMedida {
    font-family: $fonte-padrao;
  }

  select {
    width: 95%;
    max-width: 300px;

    &:disabled {
      color: gray;
    }
  }

  select,
  input {
    margin-bottom: 10px;
    height: 30px;
    font-size: 100%;
    border-radius: 5px;
    border: 1px solid $cor-borda;
    padding-left: 5px;

    // O & serve para concatener alguma coisa. E tudo que estiver aqui dentro será empregado apenas em input cujo type=text
    &[type="number"] {
      width: 95%;
      max-width: 80px;
    }
  }
}

#conteudo {
  padding: 10px;
  width: 90%;
  margin: auto;

  #tabelaCompras {
    padding: 10px;
    width: 90%;

    table {
      border-collapse: collapse;
      width: 50%;
      font-family: $fonte-padrao;

      thead {
        background-color: $cor-header;
        color: white;
      }

      tr {
        &:hover {
          td {
            background-color: $cor-sombras;
          }
        }

        &:nth-child(even) {
          background-color: rgb(229, 226, 236);
        }

        td {
          font-size: 90%;

          &:first-child {
            width: 10%;
          }
          &:last-child {
            width: 10%;
          }
        }

        th,
        td {
          // Regra geral
          text-align: left;
          padding: 5px 0px;

          // Regra específica para a primeira coluna
          &:first-child {
            text-align: left;
            padding-left: 5px;
          }

          // Regra específica para a última coluna
          &:last-child {
            text-align: right;
            padding-right: 5px;
          }

          img {
            width: 90%;
            margin: 0px;
          }
        }
      }
    }

    img {
      margin-left: 40px;
      display: block;
      width: 20%;
    }
    span {
      font-family: $fonte-padrao;
    }
  }

  //Estilização dos cards

  #cardsCompras {
    display: none;

    #cardConteudo {
      display: table;
      box-shadow: 2px 2px 5px #ededee, -1px -1px 3px #ededee;
      border-radius: 5px;
      margin: 0px auto 10px auto;
      width: 90%;

      .esquerda,
      .direita {
        width: 15%;
        display: table-cell;
      }

      .direita {
        text-align: right;
      }

      span {
        vertical-align: middle;
        font-family: $fonte-padrao;
        font-size: 150%;
        display: inline-block;
        margin: 0px 10px 0px 10px;
      }
    }
    a {
      img {
        vertical-align: middle;
        display: inline-block;
        width: 100%;
      }
    }
  }

  // Campo de filtro

  #filtro {
    margin: 30px 0px 10px 0px;
    display: block;
    border-radius: 20px;
    width: 40%;
    height: 30px;
    border: 1px solid #cccccc;
    outline: none;
    padding: 0px 20px 0px 20px;
    font-size: 90%;

    &:hover {
      border: none;
      box-shadow: 2px 2px 5px #cccccc, -1px -1px 3px #cccccc;
      margin-bottom: 12px;
    }
  }
}

@media only screen and (max-width: 600px) {
  #conteudo {
    #cardsCompras {
      display: block;

      span {
        font-family: $fonte-padrao;
      }

      img {
        border: none;
        width: 50%;
        display: block;
        margin: 0px auto;
      }
    }

    #tabelaCompras {
      display: none;
    }

    #filtro {
      width: 90%;
    }
  }
}
